.table {
    th,
    td {
        border: 1px solid #dee2e6;
        text-align: center;
        vertical-align: middle;
        &.masked-password {
            word-break: break-all;
        }
        &.id {
            width: 6%;
        }
        &.user {
            width: 20%;
        }
        &.position {
            width: 14%;
        }
        &.option {
            width: 15%;
        }
    }

    th {
        background-color: #9fbcd8;
    }

    .align-left {
        text-align: left;
    }

    .account-item {
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.table-dark {
    th,
    td {
        border-color: #343a40;
    }

    th {
        background-color: #343a40;
        color: #fff;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.custom-btn {
    width: 100px;
    text-align: center;
    padding: 5px 0;
}
