.content-area-table {
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--light-shadow1);
    padding: 16px;
}

@media (max-width: 768px) {
    .content-area-table {
        padding: 12px;
    }
}

.data-table-title {
    font-size: 18px;
    color: var(--xl-text-color);
    margin-bottom: 12px;
}

.data-table-diagram {
    border-radius: 6px;
    border: 1px solid var(--tbl-border-color);
    overflow-x: auto;
}

.data-table-diagram::-webkit-scrollbar {
    height: 6px;
}

.data-table-diagram::-webkit-scrollbar-track {
    background-color: var(--scroll-track-bg-color);
}

.data-table-diagram::-webkit-scrollbar-thumb {
    background-color: #e9e9e9;
    border-radius: 3px;
}

.data-table-diagram table {
    min-width: 100%;
    border-collapse: collapse;
    color: var(--text-color-inverted);
}

.data-table-diagram td,
.data-table-diagram th {
    padding: 14px;
    border-bottom: 1px solid var(--tbl-border-color);
}

@media (max-width: 768px) {

    .data-table-diagram td,
    .data-table-diagram th {
        font-size: 15px;
        padding: 12px;
    }
}

.data-table-diagram th {
    background-color: var(--thead-bg-color);
    font-size: 17px;
    text-align: left;
}

.data-table-diagram th:last-child {
    text-align: left;
    /* Thay đổi để căn lề phải cho cột cuối cùng (Giá) */
}

.data-table-diagram td:last-child {
    text-align: left;
    /* Căn lề phải cho các giá trị trong cột "Giá" */
}

.data-table-diagram tbody tr:hover {
    background-color: var(--hover-bg-color);
}

.dt-cell-action {
    text-align: center;
}

.view-details-link {
    color: var(--link-color);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.view-details-link:hover {
    color: var(--link-hover-color);
}

.dt-status {
    display: flex;
    align-items: center;
}

.dt-status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.dot-Doing {
    background-color: var(--orange-color);
}

.dot-Waiting {
    background-color: var(--red-color);
}

.dot-Done {
    background-color: var(--green-color);
}

.dt-status-text {
    text-transform: capitalize;
}